<!DOCTYPE html>
<html>
<head>
	<title>TUGAS PRAKTIKUM 1 PWL</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/assets/css/galeri.css">
</head>
<body>

{%include "header.njk" %}
{%include "navigasi.njk" %}



<div class="flex-container">
	<div class="gambar">
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>

	</div>
	<div class="gambar">
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
	</div>
	<div class="gambar">
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
	</div>
	<div class="gambar">
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
	</div>
	<div class="gambar">
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
	</div>
	<div class="gambar">
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
		<img  src="/assets/gambar/dera.jpg" style="width: 100%"></img>
		
	</div>

</div>


{% include "footer.njk"%}

</body>
</html>
