
<div class="topnav" id="myTopnav">
  <a href="/home">Home</a>
  <a href="/profile">Profile</a>
  <a href="/galeri">Galeri</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>