*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: pink;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: red;
  color: black;
}

.topnav a.active {
  background-color: red;
  color: black;       
}
.judul {
  color: red;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container .gambar {
  background-color: #f1f1f1;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.footer {
  margin-top: 0px;       
  width: 100%;
  text-align: center;
  line-height: 2.8;
  background:pink;
  color: black;
  margin-bottom: 0px;
}

